 @import url(http://fonts.googleapis.com/css?family=Raleway:400,300);
 body {
     font-family: 'Raleway', sans-serif !important;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 .header {
     font-family: 'Raleway', sans-serif !important;
     padding-bottom: 1rem;
 }
 
 .landing .ui.inverted.menu {
     background: #f9f9f9;
     -webkit-box-shadow: 0 2px 2px 0px #918E8E;
     -moz-box-shadow: 0 2px 2px 0px #918E8E;
     -ms-box-shadow: 0 2px 2px 0px #918E8E;
     box-shadow: 0 2px 2px 0px #918E8E;
 }
 
 .landing p {
     font-weight: normal;
     color:#555555;
 }
 
 .landing .ui.button {
     font-weight: 100;
     font-family: 'Raleway', sans-serif !important;
 }
 
 .landing h1,
 .landing h2,
 .landing h3,
 .landing h4,
 .landing h5,
 .landing h6 {
     font-weight: 300;
 }
 
 .font-small {
     font-size: 2rem !important;
     font-weight: 100 !important;
 }
 
 .font-meduim {
     font-size: 3rem!important;
     font-weight: 100;
 }
 
 .font-big {
     font-size: 4rem!important;
     font-weight: 100 !important;
     background: url('/images/header-bg.png') no-repeat bottom center;
 }
 
 .font-huge {
     font-size: 5rem !important;
     font-weight: 100 !important;
     background: url('/images/header-bg.png') no-repeat bottom center;
 }
 
 .font-massive {
     font-size: 7rem !important;
     font-weight: 100;
 }
 
 .landing #fp-nav ul,
 .fp-slidesNav ul {
     margin: 0;
     padding: 0;
     position: relative;
     top: -.9rem;
 }
 
 .landing .ui.inverted.menu .item,
 .landing .ui.inverted.menu .item > a:not(.ui) {
     color: #201F1F;
     -webkit-transition: all .3s;
     -moz-transition: all .3s;
     -ms-transition: all .3s;
     -khtml-transition: all .3s;
     transition: all .3s;
     -webkit-transform: scale(.9);
     -moz-transform: scale(.9);
     -ms-transform: scale(.9);
     -khtml-transform: scale(.9);
     transform: scale(.9);
 }
 
 .landing .ui.inverted.menu .active.item {
     -webkit-box-shadow: 0 0px 2px rgba(91, 189, 114, 1), 0px 0px 40px rgba(223, 223, 223, 1) inset !important;
     -moz-box-shadow: 0 0px 2px rgba(91, 189, 114, 1), 0px 0px 40px rgba(223, 223, 223, 1) inset !important;
     -ms-box-shadow: 0 0px 2px rgba(91, 189, 114, 1), 0px 0px 40px rgba(223, 223, 223, 1) inset !important;
     box-shadow: 0 0px 2px rgba(91, 189, 114, 1), 0px 0px 40px rgba(223, 223, 223, 1) inset !important;
     background: rgba(187, 187, 187, 0.2);
     color: #15BB99 !important;
     border-bottom: solid 2px rgb(21, 187, 153);
     -webkit-transform: scale(1);
     -moz-transform: scale(1);
     -ms-transform: scale(1);
     -khtml-transform: scale(1);
 }
 
 .landing .ui.inverted.menu a.item:hover {
     color: #15BB99 !important;
 }
 
 .color-white {
     color: #3C3C3C !important;
 }
 
 #section0 {
     background: url('/images/background/cubes.png') repeat;
 }
 
 #section1 {
     background-color: rgb(218, 197, 0);
 }
 
 
 
 #section2 {
     position: relative;
     background: rgba(245, 242, 245, 1);
     background: -moz-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(221, 221, 221, 0.96) 47%, rgba(249, 249, 249, 1) 100%);
     background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249, 249, 249, 1)), color-stop(47%, rgba(221, 221, 221, 0.96)), color-stop(100%, rgba(249, 249, 249, 1)));
     background: -webkit-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(221, 221, 221, 0.96) 47%, rgba(249, 249, 249, 1) 100%);
     background: -o-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(221, 221, 221, 0.96) 47%, rgba(249, 249, 249, 1) 100%);
     background: -ms-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(221, 221, 221, 0.96) 47%, rgba(249, 249, 249, 1) 100%);
     background: linear-gradient(to right, rgba(249, 249, 249, 1) 0%, rgba(221, 221, 221, 0.96) 47%, rgba(249, 249, 249, 1) 100%);
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5f2f5', endColorstr='#ededed', GradientType=1);
 }

 
 #section2 i.icon.circular {
     -webkit-box-shadow: 0em 0em 0em 0.1em rgba(255, 255, 255, 0.9) inset;
     -ms-box-shadow: 0em 0em 0em 0.1em rgba(255, 255, 255, 0.9) inset;
     -moz-box-shadow: 0em 0em 0em 0.1em rgba(255, 255, 255, 0.9) inset;
     box-shadow: 0em 0em 0em 0.1em rgba(255, 255, 255, 0.9) inset;
    color: rgba(133, 171, 26, .8);
 }
 
 #section2 .padded .column {
     position: relative;
 }
 
 #section2 .padded .column:hover {
     cursor: pointer;
     transform: scale(1.3);
 }
 
 #section2 .padded .column:hover i.icon.circular {
     transition: all 1s;
     box-shadow: 0em 0em 0em 0.1em rgba(242, 198, 31, 0.9) inset;
     
 }
 .animated {
     -webkit-animation-duration: 1.5s !important;
 }
 
 .rotate {
     -ms-transform: rotate(180deg) !important;
     -webkit-transform: rotate(180deg) !important;
     -moz-transform: rotate(180deg) !important;
     transform: rotate(180deg) !important;
 }
 
 .hide {
     display: none !important;
 }
 
 #section2 h3.header {
     margin: 0;
     padding: .4rem;
     font-size: 2rem;
     color:#78a300;
 }
 
 #section2:after {
     bottom: 100%;
     left: 50%;
     border: solid transparent;
     content: " ";
     height: 0;
     width: 0;
     position: absolute;
     pointer-events: none;
     border-color: rgba(237, 237, 237, 0);
     border-bottom-color: #fff;
     border-width: 30px;
     margin-left: -30px;
 }
 
 #header,
 #footer {
     position: fixed;
     height: 50px;
     display: block;
     width: 100%;
     background: #333;
     z-index: 9;
     text-align: center;
     color: #f2f2f2;
     padding: 20px 0 0 0;
 }
 
 #header {
     top: 0px;
 }
 
 #fullpage {
     margin-top: 35px;
 }
 
 #menu li {
     display: inline;
 }
 
 .intro-sec {
     background-color: #1BC8A5;
     -webkit-box-shadow: 0 0 14px #0B9377;
     -moz-box-shadow: 0 0 14px #0B9377;
     -ms-box-shadow: 0 0 14px #0B9377;
     -khtml-box-shadow: 0 0 14px #0B9377;
     -webkit-box-shadow: 0 0 14px #0B9377;
     padding: 1rem;
     border-radius: 3px;
 }
 
 .landing h1.header,
 .landing .segment a {
     font-size: 3rem;
     font-weight: 300;
     padding-bottom: 1rem;
 }
 
 .intro-sec p.lead {
     font-size: 1.5rem;
 }
 
 .slide .content p {
     font-size: 1.5rem;
 }
 
 .slide .ui.items > .item > .content > .header:not(.ui) {
     font-size: 2rem;
 }
 
 .slide .ui.items > .item > .content > .description {
     width: 100%;
     max-width: none;
 }
 
 .slide .slider-item {
     background: rgb(245, 223, 8);
     position: relative;
     top: -3rem;
     -webkit-box-shadow: 0 0 2px #8B7E02;
     -moz-box-shadow: 0 0 2px #8B7E02;
     -ms-box-shadow: 0 0 2px #8B7E02;
     -khtml-box-shadow: 0 0 2px #8B7E02;
     -webkit-box-shadow: 0 0 2px #8B7E02;
     -moz-border-radius: 105px;
     -ms-border-radius: 105px;
     -khtml-border-radius: 105px;
     border-radius: 105px;
     transition: all .3s;
 }
 
 .slide .slider-item:hover {
     /*border-radius: 60px 40px 70px 30px;*/
     
     background: #f9f9f9;
 }
 
 .sol p {
     font-size: 1.3rem;
     color: #555555;
 }
 
 .sol h1.header {
     margin-bottom: .5rem;
 }
 
 .fp-tooltip {
     color: #AAA;
 }
 
 #fp-nav span,
 .fp-slidesNav span {
     border-color: #AAA;
 }
 
 #fp-nav li .active span,
 .fp-slidesNav .active span {
     background: #AAA;
 }
 
 .el-position {
     position: relative;
 }
 
 .el-position.top-1rem {
     top: 1rem;
 }
 /*
    Button
    */
 
 .biolog-button {
     min-width: 150px;
     display: block;
     margin: 1em;
     padding: 1em 2em;
     border: none;
     background: none;
     font-weight: 100;
     color: inherit;
     vertical-align: middle;
     position: relative;
     z-index: 1;
 }
 
 .biolog-button:focus {
     outline: none;
 }
 
 .biolog-button > span {
     vertical-align: middle;
 }
 
 .biolog-button--size-s {
     font-size: 14px;
 }
 
 .biolog-button--size-m {
     font-size: 16px;
 }
 
 .biolog-button--size-l {
     font-size: 18px;
 }
 /* Typography and Roundedness */
 
 .biolog-button--text-upper {
     letter-spacing: 2px;
     text-transform: uppercase;
 }
 
 .biolog-button--text-thin {
     font-weight: 300;
 }
 
 .biolog-button--text-medium {
     font-weight: 500;
 }
 
 .biolog-button--text-thick {
     font-weight: 600;
 }
 
 .biolog-button--round-s {
     border-radius: 5px;
 }
 
 .biolog-button--round-m {
     border-radius: 15px;
 }
 
 .biolog-button--round-l {
     border-radius: 40px;
 }
 /* Borders */
 
 .biolog-button--border-thin {
     border: 1px solid;
 }
 
 .biolog-button--border-medium {
     border: 2px solid;
 }
 
 .button--border-thick {
     border: 3px solid;
 }
 
 .biolog-button-block {
     width: 100%;
 }
 /* Itzel */
 
 .button--itzel {
     border: none;
     padding: 0px;
     overflow: hidden;
     width: 255px;
 }
 
 .biolog-button--itzel::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border: 2px solid;
     border-radius: inherit;
     -webkit-clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 60%, 65% 60%, 65% 100%, 100% 100%, 100% 0%);
     clip-path: url(../index.html#clipBox);
     transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
     transform-origin: 50% 100%;
 }
 
 .biolog-button--itzel.biolog-button--border-thin::before {
     border: 1px solid;
     transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
 }
 
 .biolog-button--itzel.biolog-button--border-thick::before {
     border: 3px solid;
     transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
 }
 
 .biolog-button--itzel::before,
 .biolog-button--itzel .button__icon {
     transition: transform 0.3s;
     transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
 }
 
 .biolog-button--itzel .button__icon {
     position: absolute;
     top: 100%;
     left: 50%;
     padding: 20px;
     font-size: 20px;
     transform: translate3d(-50%, 0, 0);
 }
 
 .biolog-button--itzel > span {
     display: block;
     padding: 20px;
     transition: transform 0.3s, opacity 0.3s;
     transition-delay: 0.3s;
 }
 
 .biolog-button--itzel:hover::before {
     transform: translate3d(0, 0, 0);
 }
 
 .biolog-button--itzel:hover .button__icon {
     transition-delay: 0.1s;
     transform: translate3d(-50%, -100%, 0);
 }
 
 .biolog-button--itzel:hover > span {
     opacity: 0;
     transform: translate3d(0, -50%, 0);
     transition-delay: 0s;
 }
 
 .biolog-button--moema {
     padding: 1.5em 3em;
     border-radius: 50px;
     background: #7986cb;
     color: #fff;
     -webkit-transition: background-color 0.3s, color 0.3s;
     transition: background-color 0.3s, color 0.3s;
 }
 
 .biolog-button--moema.button--inverted {
     background: #ECEFF1;
     color: #37474f;
 }
 
 .biolog-button--moema::before {
     content: '';
     position: absolute;
     top: -20px;
     left: -20px;
     bottom: -20px;
     right: -20px;
     background: inherit;
     border-radius: 50px;
     z-index: -1;
     opacity: 0.4;
     -webkit-transform: scale3d(0.8, 0.5, 1);
     transform: scale3d(0.8, 0.5, 1);
 }
 
 .biolog-button--moema:hover {
     -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
     transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
     color: #ECEFF1;
     background-color: #3f51b5;
     -webkit-animation: anim-moema-1 0.3s forwards;
     animation: anim-moema-1 0.3s forwards;
 }
 
 .biolog-button--moema.biolog-button--inverted:hover {
     color: #ECEFF1;
     background-color: #7986cb;
 }
 
 .biolog-button--moema:hover::before {
     -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
     animation: anim-moema-2 0.3s 0.3s forwards;
 }
 
 @-webkit-keyframes anim-moema-1 {
     60% {
         -webkit-transform: scale3d(0.8, 0.8, 1);
         transform: scale3d(0.8, 0.8, 1);
     }
     85% {
         -webkit-transform: scale3d(1.1, 1.1, 1);
         transform: scale3d(1.1, 1.1, 1);
     }
     100% {
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
     }
 }
 
 @keyframes anim-moema-1 {
     60% {
         -webkit-transform: scale3d(0.8, 0.8, 1);
         transform: scale3d(0.8, 0.8, 1);
     }
     85% {
         -webkit-transform: scale3d(1.1, 1.1, 1);
         transform: scale3d(1.1, 1.1, 1);
     }
     100% {
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
     }
 }
 
 @-webkit-keyframes anim-moema-2 {
     to {
         opacity: 0;
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
     }
 }
 
 @keyframes anim-moema-2 {
     to {
         opacity: 0;
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
     }
 }
 
 .button--isi {
     padding: 1.2em 2em;
     color: #fff;
     background: #7986cb;
     overflow: hidden;
 }
 
 .button--isi::before {
     content: '';
     z-index: -1;
     position: absolute;
     top: 50%;
     left: 100%;
     margin: -15px 0 0 1px;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background: #66c17b;
     -webkit-transform-origin: 100% 50%;
     transform-origin: 100% 50%;
     -webkit-transform: scale3d(1, 2, 1);
     transform: scale3d(1, 2, 1);
     -webkit-transition: -webkit-transform 0.7s, opacity 0.5s;
     transition: transform 0.7s, opacity 0.5s;
     -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
     transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
 }
 
 .button--isi .button__icon {
     vertical-align: middle;
 }
 
 .button--isi > span {
     vertical-align: middle;
     padding-left: 0.75em;
 }
 
 .button--isi:hover::before {
     -webkit-transform: scale3d(9, 9, 1);
     transform: scale3d(9, 9, 1);
 }
