.idea/*
.meteor/local
.meteor/meteorite
private/*
tests/jasmine/server/unit/package-stubs.js
tests/jasmine/server/unit/packageMocksSpec.js
settings.json
mup.json
server/settings.json
server/config/social-config.js