<template name="home">
    <div class="ui page grid">
        <div class="three column row">
            <div class="column"></div>
            <div class="center aligned starter column">
                <h1>Biolog.io</h1>
                <p>Biolog.io is a personal health record + expert system, designed for people to drive their health care. Our mission is to give people the tools to make optimal health decisions and to eliminate medical error.</p>
            </div>
            <div class="column"></div>
        </div>
        <div class="three column row">
            <div class="column"></div>
            <div class="center aligned starter column">
                <div class="ui search column">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Search countries...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</template>