@import "include-media";
.h1,
.h2,
.h3,
.h4,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway, sans-serif;
    font-weight: normal;
}

@include media('>=phone', '<=tablet') {
    .heading-1 h5 {
        font-size: 1.8em;
    }
}

body.feed,
body.feed.pushable {
    background: #e9eaed;
    background: #E4EAEA;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #333;
    margin-top: 1em;
    font-weight: normal;
    background: url("/images/hero-bg.png") repeat scroll 0 0 rgba(228, 234, 234, 0.42);
}

.main-nav {
    .ui.menu .item {
        font-weight: normal;
    }
}

.bl-container {
    // display: -webkit-flex;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-justify-content: space-between;
    //     -ms-flex-pack: justify;
    //         justify-content: space-between;
    // -webkit-align-items: center;
    //     -ms-flex-align: center;
    //         align-items: center;
    // -webkit-align-items: flex-start;
    //     -ms-flex-align: start;
    //         align-items: flex-start;
    // min-height: 100vh;
    // width: 900px;
    // margin: 1rem auto;
    // margin-top: 1.5rem;
    // .bl-column {
    //     -webkit-flex-grow: 1;
    //         -ms-flex-positive: 1;
    //             flex-grow: 1;
    // }
    .main {
        // margin: 0 .6rem;
        // padding: 0 .5em;
        /* box-shadow: -1px 0px 0px 0px #ccc, 1px 0px 0px 0px #ccc;
overflow: scroll;
         */
        width: 60%;
    }
    .row .col {
        // padding: 0;
    }
    .ui.form textarea,
    .textarea {
        border-top: none;
        padding-left: 4.6rem;
        padding-top: .8rem;
        min-height: 5em;
        height: 6.2rem;
        border-right: none;
        border-bottom: none;
        border-left: none;
        border-radius: 0;
        &:focus {
            color: rgba(0, 0, 0, 0.85);
            border-color: rgba(125, 9, 26, 0.3);
            border-radius: 0em 0.2857rem 0.2857rem 0em;
            background: #ffffff;
            box-shadow: none;
            -webkit-appearance: none;
        }
    }
    .textarea {
        display: inline-block;
        padding: 0.5rem;
        border: 1px solid rgb(233, 234, 237);
        width: 100%;
        z-index: auto;
        position: relative;
        line-height: 18.6200008392334px;
        font-size: 14px;
        transition: none;
        overflow: auto;
        border-radius: 3px;
    }
    .material .card {
        margin-top: 0;
        box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
    }
    .material .card.small.post-field {
        height: 10.2rem;
    }
    .material .card .card-content {
        padding: 10px 5px;
    }
    .material .card .card-action {
        padding: 5px;
    }
    .material .card .card-action a {
        color: #fff;
        margin-right: 0;
        transition: color 0.3s ease;
        text-transform: capitalize;
    }
    .ui.feed > .event {
        position: relative;
        display: table;
        width: 100%;
        padding: 0.5rem 0em;
        margin: 0em;
        background: none;
        border-top: none;
        background-color: #fff;
        margin-top: 1rem;
        border-radius: 3px;
        /*
        border: 1px solid;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
        */
        padding-bottom: 0rem;
        box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
    }
    .ui.feed > .event > .content {
        display: inherit;
        padding-left: 4rem;
        margin: 0;
        width: 100%;
        padding-right: 1rem;
        .post-edit {
            position: absolute;
            top: .2rem;
            right: 0;
            transition: all .3s;
            display: none;
            color: #5F7BE5;
            font-size: 1.5rem;
            &:hover {
                cursor: pointer;
                color: #2196F3;
            }
        }
        &:hover {
            .post-edit {
                display: inline;
            }
        }
    }
    .ui.feed > .event > .label {
        display: inline;
        width: 2.5em;
        height: 2.5em;
        vertical-align: top;
        text-align: left;
        padding-top: .3rem;
        position: relative;
        left: .8rem;
    }
    .label .avatar-circle {
        height: auto;
        width: 2.5em;
        position: relative;
    }
    .material .ui.input {
        padding: .5rem;
        background-color: #F6F7F8;
        border-top: 1px solid #e1e2e3;
    }
    .ui.comments {
        padding: 0 .5rem;
        margin: 0;
        background-color: #F6F7F8;
        border-top: 1px solid #e1e2e3;
        background-color: rgba(212, 212, 213, 0.11);
        border-top: 1px solid #EAECF6;
        max-width: 800px;
        .comment:last-child {
            padding-bottom: .5rem;
        }
    }
    .material .ui.input .avatar {
        height: auto;
        width: 3rem;
    }
    .material .ui.input input {
        margin: 0em;
        width: 100% !important;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        text-align: left;
        line-height: 1.2142em;
        font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        padding: 0;
        padding-left: 1rem;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        color: rgba(0, 0, 0, 0.8);
        border-radius: 0.2857rem;
        transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
        box-shadow: none;
        border-radius: 0;
        margin-left: .5rem;
        font-size: .8rem;
        height: 2rem;
    }
    .ui.comments .comment .avatar img {
        position: relative;
    }
    .ui.comments .comment span.avatar-initials,
    .event .label span.avatar-initials {}
    .avatar .avatar-image,
    .avatar .avatar-initials {
        border-radius: 0.25rem;
    }
    .avatar .avatar-initials {
        line-height: 44px;
    }
    .ui.feed > .event > .content .meta a:hover,
    .ui.feed > .event > .content .meta a:hover .icon,
    .ui.feed > .event > .content .meta > .icon:hover {
        color: #5F7BE5;
    }
    .ui.feed > .event > .content .extra.text {
        border-left: 3px solid #19BCCE;
        padding: .5em 1em;
    }
    .comment .content .text {
        color: #333;
    }
}

.feed-avatar {
    .avatar {
        position: absolute;
        left: .6rem;
    }
}

.bubble {
    position: relative;
    display: inline-block;
    width: 80%;
    cursor: pointer;
    vertical-align: top;
    padding: 3px 10px;
    background: #e5f2f7;
    margin-bottom: 15px;
    margin-left: 0;
    font-size: .8rem;
    margin: 0.5rem 2rem;
    box-shadow: 1px 1px 2px #C6C7CA, -1px -1px 2px #E9EAEE;
    .icon {
        position: absolute;
        right: 0;
        color: #D97D89;
        font-size: 1rem;
        transition: all .5s;
        &:hover {
            color: #DE3700 !important;
        }
    }
    .header.ui {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: .2rem;
        margin-top: 0;
        color: #e91e63;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &:after {
        content: "";
        position: absolute;
        top: 5px;
        left: -15px;
        border-style: solid;
        border-width: 10px 15px 10px 0;
        border-color: transparent #e5f2f7;
        display: block;
        width: 0;
        z-index: 1;
    }
}

.sidebar-right,
.sidebar-left {
    width: 20%;
    /*overflow: scroll;*/
}

.ui.comments .comment .author,
.event .summary a {
    color: rgb(25, 188, 206);
}

.sidebar-right {
    background-color: transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: none;
    padding: .0rem;
    .card {
        box-shadow: none;
        margin: 0;
        .card-content {
            padding: 20px;
            .card-title {
                color: #2196F3;
                line-height: 1;
                font-size: 1.3rem;
                font-weight: 400;
            }
        }
        .card-action {
            border-top: none;
            border-bottom: 3px solid rgba(160, 160, 160, 0.2);
        }
    }
}

.fade.off {
    opacity: 0;
}

.fade {
    opacity: 1;
    transition: opacity 200ms ease;
}

.notice {
    position: relative;
    margin: 1em 0;
    background: #7ACAF1;
    padding: 1em 1em 1em 2em;
    border-left: 4px solid #DDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.notice:before {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: -17px;
    background-color: #DDD;
    color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-family: Georgia;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.info {
    border-color: #0074D9;
}

.info:before {
    content: "i";
    background-color: #0074D9;
}

.success {
    border-color: #2ECC40;
}

.success:before {
    content: "√";
    background-color: #2ECC40;
}

.warning {
    border-color: #FFDC00;
}

// .warning:before {
//     content: "!";
//     background-color: #FFDC00;
// }

/*
.error {
    border-color: #FF4136;
}

.error:before {
    content: "X";
    background-color: #FF4136;
}
*/

.ui.menu.fixed,
.ui.vertical.menu {
    /*background: #51c1b1;*/
    background: #FFFFFF;
    .item {
        /* color: #fff;*/
        transition: all .3s;
        color: rgb(103, 123, 190);
        &:hover {
            color: #fff;
            color: #E91E63;
            background: #fff;
            box-shadow: 0 2px 0px #E91E63;
        }
        &:before {
            background: rgba(255, 255, 255, 0.1);
        }
        .ion-android-menu.ion {
            font-size: 2.5rem;
        }
    }
}

.ui.button {
    /* border-radius: 0; */
}

.animated.fast {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
}

.ui.labeled.icon.menu .item {
    transition: all .5s;
}

.ui.vertical.menu .item:hover,
.ui.link.menu .item:active,
.ui.menu .link.item:active,
.ui.menu a.item:active {
    color: #fff;
    background-color: #78D2DC;
    background-color: rgba(103, 123, 190, 0.85);
    box-shadow: none;
}

.liked-true {
    color: #E91E63;
}

.ns-box {
    .ui.buttons {
        position: absolute;
        right: 0rem;
        bottom: 0;
        .ui.basic.button {
            box-shadow: none;
            padding: .8rem;
            font-weight: bold;
            padding: .5rem;
            &:hover,
            &:active,
            &:focus {
                background: transparent !important;
                cusor: pointer;
            }
        }
        .ui.button.no {
            color: #e91e63 !important;
            &::before {
                content: "";
                box-shadow: 0px 0px 0px 1px rgba(72, 72, 96, 0.11);
                display: initial;
                /* margin-right: .2rem; */
                position: relative;
                right: .5rem;
            }
        }
        .ui.button.yes {
            color: #2196F3 !important;
        }
    }
    i.icon.ion-help-circled {
        font-size: 1.3rem;
        color: #69697D;
        padding-left: .8rem;
    }
    .ui.rating,
    .icons-set {
        color: orange;
        top: .2rem;
        right: .4rem;
        i.active {
            color: orange;
        }
    }
    .title {
        top: .2rem;
        left: .4rem;
        font-weight: bold;
        color: #484860;
        transition: all .5s;
        &:hover {
            color: #2196F3;
            cursor: pointer;
        }
    }
    .start-date {
        bottom: .2rem;
        left: .4rem;
        font-weight: bold;
        color: #484860;
        font-size: .7rem;
    }
    .end-date {
        bottom: .2rem;
        right: .4rem;
        font-weight: bold;
        color: #484860;
        font-size: .7rem;
    }
    img {
        width: 80%;
        height: 100%;
    }
}

.icons-set .icon {
    font-size: 1rem;
}

.at-grid {
    margin: 2rem auto !important;
}

.flex-container {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    .image {
        width: 30%;
        .icon, [class^="icon-"], [class*=" icon-"]{
            font-size: 3.2rem;
            color: #F44336;
            position: relative;
            top: .6rem;
        }
        
    }
    .text {
        width: 70%;
    }
}

.feed-item {
    cursor: pointer;
}

.message {
    .ns-close::before,
    .ns-close::after {
        background: #937E5C !important;
    }
}

.atwho-view ul {
    list-style: none;
    padding: 0;
    margin: auto;
    overflow: hidden;
    max-width: 40em;
}

.bert-alert.success-purple {
    background: #E91E63;
    color: #fff;
}

.bert-alert.success-purple > .bert-container > .bert-gem {
    float: left;
    width: 32px;
    height: 32px;
    background: #E91E63;
    border-radius: 24px;
    margin-right: 15px;
    border: solid 2px #fff;
    outline: none;
}

.bl-container .ui.feed > .event > .content .meta {
    padding-bottom: .5em;
}

.ui.twitter.button {
    background-color: #61CAEE;
    &:hover {
        background-color: #61CAEE;
    }
}

.ns-box .title {
    top: .2rem;
    left: .4rem;
    font-weight: bold;
    color: #484860;
    transition: all .5s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="url"],
.ui.form input {
    font-weight: normal;
}

.feed-help {
    position: absolute;
    top: -.5rem;
    z-index: 300;
    right: -.2rem;
    color: #69697D;
    cursor: pointer;
}

.ui.modal .picker__date-display {
    padding-bottom: 0px;
}

.ui.modal .picker__weekday-display {
    padding: 5px;
    font-weight: 200;
    letter-spacing: .5;
    font-size: 1rem;
    margin-bottom: 0px;
}

.ui.modal .picker__month-display {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.ui.modal .picker__day-display {
    font-size: 2.2rem;
    font-weight: 400;
}

.ui.modal .picker__year-display {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.4);
}

.ui.modal .picker__header {
    text-align: center;
    position: relative;
    margin-top: .35em;
}

.ui.modal .picker__table {
    margin-top: 0;
    margin-bottom: .2em;
}

.ui.modal .picker__day--infocus {
    letter-spacing: -.3;
    padding: .45rem 0;
    font-weight: 400;
    border: 1px solid transparent;
}

.picker__select--year.browser-default {
    display: inline !important;
    background-color: #FFFFFF;
    width: 35% !important;
    border: none;
}

.biolog-meds .ui.header.item {
    color: #484860;
    [class^="icon-"],
    [class*=" icon-"] {
        margin-right: 1rem;
    }
}

#medModal {
    .ui.image.label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100% !important;
        background-color: #F3F4F5;
    }
}

#condModal {
    .ui.image.label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100% !important;
        background-color: #F3F4F5;
    }
}

.card {
    .ui.tiny.image .icon- {
        font-size: 5rem;
        color: rgb(75, 75, 117);
    }
    .floated.mini.ui.image.icon- {
    font-size: 3rem;
    right: 1rem;
    top: 5rem;
    position: absolute;
    }
    .ui.image.icon-i-cardiology{
        color:#E91E63;
    }
    .header.meds-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 95% !important;
    text-transform: capitalize;
    margin-bottom: .4rem;
    }
    .ui.right.bottom.label.biologMedsItem {
        background: #eb1478;
        color: #fff;
    }
    .ui.pink.labels .label.biologMedsItem,
    .ui.pink.label.biologMedsItem {
        /* background-color: #e03997 !important; */
        border-color: #eb1478 !important;
        color: #ffffff !important;
    }
}
.card-items{
    .ui.doubling.stackable.cards{
            justify-content: center;
    }
}
.card-items .ui.cards .card.ns-box {
    box-shadow: 2px 3px 30px -10px rgba(0, 0, 0, 1);
        min-height: 170px;
    .ui.label.olive.tiny
    {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #4A4A92 !important;
    text-transform: capitalize;
    min-width: 20%;
    max-width: 40%;
    }
}


.ns-box .date-label {
    margin-bottom: .3rem;
    font-weight: bold;
    color: #484860;
    font-size: .8rem;
}
.dark-pink{
            color:#E91E63 !important;
        }
        .dark-blue{
            color:#484860 !important;
        }