.logo-image
	width: 5em !important;
	position: relative;
	top: .4rem;
.item.isable-icon
	&:hover
		box-shadow: none !important
     	color: #697CBE !important
    	

	.ion.ion-ios-bell.left.material-icons.icon 
		font-size: 2.5rem


	.isable-notify
		font-size: .7rem 
		position: absolute
		left: 1.3rem
    	

