

div.faces div.rateit-range
{
  background: url(images/faces/smile32.png);
  height: 32px;
}

div.faces div.rateit-hover
{
  background: url(images/faces/frown32.png);
}

div.faces div.rateit-selected
{
  background: url(images/faces/frown32.png);
}

div.faces div.rateit-reset:hover
{
  background: url(images/faces/smile32.png);
}

div.faces-sm div.rateit-range
{
  background: url(images/faces/smile16.png);
  height: 32px;
}

div.faces-sm div.rateit-hover
{
  background: url(images/faces/frown16.png);
}

div.faces-sm div.rateit-selected
{
  background: url(images/faces/frown16.png);
}

div.faces-sm div.rateit-reset:hover
{
  background: url(images/faces/smile16.png);
}