<template name="basicLayout">
    {{> patientModal}}
  {{>sidebar}}
    
    <div class="ui top fixed menu inverted navbar page grid"><div class="container">
        <div class="item main-menu"><i class="item align justify icon"></i></div>
        <a href="/" class="brand item">Biolog</a>
        <!--<a href="/meds" class="item">Medicines</a>-->
        <a href="/selectPatient" class="item">Patient: {{patient.name}}</a>
        <div class="left menu">

        </div>
        
        <div class="right menu">
            {{#if currentUser}}<a class="item" href="/profile/{{currentUser.username}}"> {{currentUser.username}}  {{> avatar user=currentUser size='small' shape='circle'}}</a>{{/if}}
            {{> atNavButton}}
            <!--
            {{#if currentUser}}
            <div class="item"><button id="btnSignOut" class="ui green button">Sign Out</button></div>
            {{else}}
            <div class="item"><button id="btnSignIn" class="ui green button">Sign in</button></div>
            {{/if}}
            -->
        </div>
    </div></div>
    <div class="main container pusher">
        <div class="ui page grid"><div class="column"><h1>&nbsp;</h1></div></div>
    {{> yield}}
    </div>
</template>

<template name="sidebarmenu">
    <a class="item" data-href="{{url}}">
        <i class="{{icon}} icon"></i>
        {{text}}
        <span class="ui label">{{badge}}</span>
    </a>
</template>
<!--
<template name="avatarSemanticUI">
  <div class="avatar {{size}} {{shape}} {{class}}">
    <img class="avatar-image" src="{{imageUrl}}" {{dimensions}} alt="avatar" onerror="this.style.display='none';" />
    <span class="avatar-initials" style="{{initialsCss}}">{{initialsText}}</span>
  </div>
</template>
-->
<template name="sidebar">
      <div class="ui left vertical inverted labeled icon sidebar menu">
      
      {{#each sidebarmenus}}
        {{> sidebarmenu}}
      {{/each}}
    </div>
</template>