<template name="meds">
    <div class="ui segment">
        <span class="ui large header">Medications</span>&nbsp;&nbsp;&nbsp;&nbsp;{{> bioolookupButton}}


        <div class="ui segment">
            <!--<div class="ui items">-->
            <div class="ui divided link items">
                {{#each items}}
                    {{>medsItem}}
                {{/each}}
            </div>
        </div>
    </div>
    {{> bioolookupModal}}
    {{> medModal}}
</template>


<template name="medsItem">
    <div class="item medsItem">
        <div class="ui tiny image">
            <img src="images/pills.jpg">
        </div>
        <div class="content">
            <div class="header">{{objName}}</div>
            <p>{{strengthMg}} mg&nbsp;&nbsp;&nbsp;{{frequency}}</p>
            <p>{{timing}}</p>
        </div>
    </div>
</template>



<template name="medModal">
    <div id="medModal" class="ui modal small">
        <div class="content">




            <div class="ui form segment">
                <div class="ui message">
                    <div class="header">{{medName}}</div>
                </div>
                <div class="one field">
                    <div class="field">
                        <label>Your Rating</label>
                        <div id="medRating" class="ui massive star rating" data-rating="{{medRating}}"></div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Strength</label>
                        <input id="medStrength" placeholder="Strength in mg" type="text" value="{{medStrength}}"> mg
                    </div>
                    <div class="field">
                        <label>How often are you taking it?</label>
                        <select id="medFrequency" class="ui dropdown">
                            <!--<option value="">Frequency</option>-->
                            <option value=".2" {{selected ".2"}}>5 times per day</option>
                            <option value=".25" {{selected ".25"}}>4 times per day</option>
                            <option value=".33" {{selected ".33"}}>3 times per day</option>
                            <option value=".5" {{selected ".5"}}>Twice per day</option>
                            <option value="1" {{selected "1"}}>Once per day</option>
                            <option value="2" {{selected "2"}}>Once per 2 days</option>
                            <option value="3" {{selected "3"}}>Once per 3 days</option>
                            <option value="4" {{selected "4"}}>Once per 4 days</option>
                            <option value="5" {{selected "5"}}>Once per 5 days</option>
                            <option value="6" {{selected "6"}}>Once per 6 days</option>
                            <option value="7" {{selected "7"}}>Once per week</option>
                            <option value="14" {{selected "14"}}>Once per 2 weeks</option>
                            <option value="21" {{selected "21"}}>Once per 3 weeks</option>
                            <option value="30" {{selected "30"}}>Once per month</option>
                        </select>
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Start Date</label>
                        <input id="medStartDate" placeholder="Text Input" type="date" value="{{medStartDate}}">
                    </div>
                    <div class="field">
                        <label>End Date</label>
                        <input id="medEndDate" placeholder="Text Input" type="date" value="{{medEndDate}}">

                        <label>Still Taking?</label>
                        <input id="medEndFlag" type="checkbox" value="1" {{medTakingChecked}}>
                    </div>
                </div>
            </div>




        </div>
        <div class="actions">
            <div class="ui button cancel">Cancel</div>
            <div class="ui button ok">OK</div>
        </div>
    </div>
</template>
