<template name="meds">
    <div class="ui segment">
        <span class="ui large header">Medications</span>&nbsp;&nbsp;&nbsp;&nbsp;{{> bioolookupButton}}


        <div class="ui segment">
            <!--<div class="ui items">-->
            <div class="ui divided link items">
                {{#each items}}
                    {{>medsItem}}
                {{/each}}
            </div>
        </div>
    </div>
    {{> bioolookupModal}}
</template>


<template name="medsItem">
    <div class="item">
        <div class="ui tiny image">
            <img src="images/pills.jpg">
        </div>
        <div class="content">
            <div class="header medsItem">{{objName}}</div>
            <p>{{strengthMg}} mg&nbsp;&nbsp;&nbsp;{{frequency}}</p>
            <p>{{timimg}}</p>
        </div>
    </div>
</template>