<template name="profile">
    <main class="ui page grid">
        <div class="row">
            <div class="center aligned starter column html ui top attached segment">
                <form class="ui form" id="profileForm">
                  <h4 class="ui dividing header">Personal Information</h4>
                  
                  <div class="inline fields">
                      <div class="two field">
                          <label>First Name</label>
                          <input type="text" name="profile.firstName" value="{{currentUser.profile.firstName}}" tabindex="0" placeholder="First Name">
                      </div>
                  </div>
                  
                  <div class="inline fields">
                      <div class="two field">
                          <label>Last Name</label>
                          <input type="text" name="profile.lastName" value="{{currentUser.profile.lastName}}" tabindex="0" placeholder="Last Name">
                      </div>
                  </div>

                  <div class="inline fields">
                      <label>Select your Sex</label>
                      <div class="two field">
                          <div class="ui radio checkbox">
                            {{#if isMale currentUser.profile.sex }}
                            <input type="radio" name="profile.sex" value="Male" tabindex="0"  checked  class="hidden">
                            {{else}}
                            <input type="radio" name="profile.sex" value="Male" tabindex="0"  class="hidden">
                            {{/if}}
                            <label>Male</label>
                          </div>
                      </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        {{#if isFemale  currentUser.profile.sex }}
                        <input type="radio" name="profile.sex" value="Female"  checked  tabindex="0" class="hidden">
                        {{else}}
                        <input type="radio" name="profile.sex" value="Female"  tabindex="0" class="hidden">
                        {{/if}}
                        <label>Female</label>
                      </div>
                    </div>
                  </div>
                  
                  <div class="inline fields">
                      <div class="two field">
                          <label>Date Of Birth</label>
                          <input type="date" name="profile.dob" id="profileDob" value="{{currentUser.profile.dob}}" placeholder="Date Of Birth">
                      </div>
                  </div>
                  
                  <div class="inline fields">
                      <div class="two field">
                          
                          <label>Country Of Residence</label>
                          
                          <select class="ui search dropdown" tabindex="0" name="profile.countryOfResidence">
                              {{#each countries}}
                                {{> country}}
                              {{/each}}
                              
                            </select>
                      </div>
                  </div>
                  
                  
                  <div class="inline fields">
                      <div class="two field">
                          <label>Postal Code</label>
                          <input type="text" name="profile.postalCode" value="{{currentUser.profile.postalCode}}" tabindex="0" placeholder="Postal Code">
                      </div>
                  </div>
                  
                 
                 
                  <div class="ui button" id="saveProfile" tabindex="0">Save Profile</div>
                </form>
            </div>
        </div>
    </main>
</template>
<template name="country">
    {{#if isResidenceOf code}}
        <option value="{{code}}"  selected >{{name}}</option>
    {{else}}
        <option value="{{code}}" >{{name}}</option>
    {{/if}}
  
</template>